/*---------------------------------------------------------
 Text and Gallery section (sections.css)
-------------------------------------------------------- */
.maera_pb-section-gallery .maera_pb-section-body {
    padding-left: 10px;
    padding-right: 10px;
}

.maera_pb-gallery-items-stage .sortable-placeholder {
    width: 100%;
    margin: 0; /*reset*/
    padding: 0 9px;
}
@media screen and ( min-width: 1160px ) {
    .maera_pb-gallery-items-stage .sortable-placeholder {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
    }
}
.maera_pb-gallery-items-stage .sortable-placeholder {
    padding: 0; /*reset*/
}
.maera_pb-gallery-items-stage {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.maera_pb-gallery-item {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
    .maera_pb-gallery-item {
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        margin-bottom: 0; /*reset*/
    }
}
/*---------------------------------------------------------
 Gallery: One column (sections.css)
-------------------------------------------------------- */
.maera_pb-gallery-columns-1 .maera_pb-gallery-item,
.maera_pb-gallery-columns-1 .sortable-placeholder {
    flex: 0 100%;
    -ms-flex: 0 100%;
    -webkit-flex: 0 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*---------------------------------------------------------
 Gallery: Two column (sections.css)
-------------------------------------------------------- */
.maera_pb-gallery-columns-2 .maera_pb-gallery-item,
.maera_pb-gallery-columns-2 .sortable-placeholder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
    .maera_pb-gallery-columns-2 .maera_pb-gallery-item,
    .maera_pb-gallery-columns-2 .sortable-placeholder {
        flex: 0 50%;
        -ms-flex: 0 50%;
        -webkit-flex: 0 50%;
    }
}
/*---------------------------------------------------------
 Gallery: Three column (sections.css)
-------------------------------------------------------- */
.maera_pb-gallery-columns-3 .maera_pb-gallery-item,
.maera_pb-gallery-columns-3 .sortable-placeholder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
    .maera_pb-gallery-columns-3 .maera_pb-gallery-item,
    .maera_pb-gallery-columns-3 .sortable-placeholder {
        flex: 0 33.333%;
        -ms-flex: 0 33.333%;
        -webkit-flex: 0 33.333%;
    }
}
/*---------------------------------------------------------
 Gallery: Four column (sections.css)
-------------------------------------------------------- */
.maera_pb-gallery-columns-4 .maera_pb-gallery-item,
.maera_pb-gallery-columns-4 .sortable-placeholder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and ( min-width: 1160px ) {
    .maera_pb-gallery-columns-4 .maera_pb-gallery-item,
    .maera_pb-gallery-columns-4 .sortable-placeholder {
        flex: 0 25%;
        -ms-flex: 0 25%;
        -webkit-flex: 0 25%;
    }
}
/*---------------------------------------------------------
 Banner (sections.css)
-------------------------------------------------------- */
.maera_pb-banner-slide {
    position: relative;
    margin-bottom: 20px;
}
.maera_pb-banner-slide-body {
    padding: 12px;
}
.maera_pb-banner-slides .maera_pb-banner-slide-header h3 {
    background-color: #ffffff;
}
.maera_pb-banner-options {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.maera_pb-banner-options-container {
    float: left;
    margin-right: 50px;
}
.maera_pb-banner-options-title {
    margin-top: 8px;
}
.maera_pb-gallery-add-item {
    margin-left: 10px;
    margin-right: 10px;
}
.maera_pb-banner-add-item,
.maera_pb-gallery-add-item {
    clear: both;
    height: 76px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.maera_pb-banner-add-item:before,
.maera_pb-gallery-add-item:before {
    content: "\f502";
    display: block;
    color: #1bc865;
    font: 36px/76px dashicons;
    text-align: center;
}
.maera_pb-banner-add-item-link,
.maera_pb-gallery-add-item-link {
    text-decoration: none; /*reset*/
}
.maera_pb-banner-add-item span,
.maera_pb-gallery-add-item span {
    display: none; /*reset*/
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}
/*---------------------------------------------------------
 Banner: Slide (sections.css)
-------------------------------------------------------- */
@media screen and ( min-width: 1160px ) {
    .maera_pb-banner-slide-option-wrapper,
    .maera_pb-banner-slide-background-image-wrapper,
    .maera_pb-gallery-background-image-wrapper,
    .maera_pb-gallery-background-options-wrapper {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .maera_pb-banner-slide-option-wrapper,
    .maera_pb-gallery-background-options-wrapper {
        float: right;
        padding-left: 20px;
    }
    .maera_pb-banner-slide-background-image-wrapper,
    .maera_pb-gallery-background-image-wrapper {
        float: left;
    }
}
.maera_pb-banner-slide-header h3 em {
    font-weight: normal; /*reset*/
    color: #999999;
}
.maera_pb-add-slide-wrapper,
.maera_pb-add-gallery-item-wrapper {
    margin-bottom: 20px;
}
.maera_pb-add-slide-wrapper a:before,
.maera_pb-add-gallery-item-wrapper a:before {
    content: "\f132";
    position: relative;
    top: 1px;
    padding-right: 4px;
    font-family: Dashicons;
}
@media screen and ( max-width: 782px ) {
    .maera_pb-add-slide-wrapper a:before,
    .maera_pb-add-gallery-item-wrapper a:before {
        top: 3px;
    }
}
.maera_pb-banner-slide .maera_pb-banner-slide-body {
    display: none;
}
.maera_pb-banner-slide-open .maera_pb-banner-slide-body {
    display: block; /*reset*/
}
.maera_pb-stage .maera_pb-banner-slides .sortable-placeholder {
    width: 100%;
    margin-bottom: 18px;
}
/*---------------------------------------------------------
 Gallery (sections.css)
-------------------------------------------------------- */
.maera_pb-gallery-items-stage {
    float: left;
    width: 100%;
}
.maera_pb-gallery-item {
    position: relative;
    margin-bottom: 20px;
}
#poststuff .maera_pb-large-title {
    padding-top: 12px;
    border-top: 1px solid #dfdfdf;
}
#poststuff .maera_pb-large-title:before {
    content: "\f108";
    position: relative;
    top: 7px;
    font-size: 30px;
    font-family: Dashicons;
}
.maera_pb-gallery-background-options-wrapper label {
    vertical-align: top;
}
.maera_pb-gallery-item-description-wrapper textarea {
    width: 100%;
    height: 75px;
}
.maera_pb-gallery-background-options-container {
    float: left;
    width: 100%;
}
.edit-content-link.item-has-content {
    color: #1bc865;
}
.edit-content-link.item-has-content.edit-gallery-item-link:before,
.edit-content-link.item-has-content.edit-banner-slide-link:before {
    content: "\f214";
}
.edit-gallery-item-link,
.remove-gallery-item-link,
.edit-banner-slide-link,
.remove-banner-slide-link,
.configure-gallery-item-link,
.configure-banner-slide-link,
.configure-column-link,
.remove-widget-link {
    display: inline-block;
    position: absolute;
    clear: both;
    top: 20px;
    right: 45px;
    height: 39px;
    margin-bottom: 0; /*reset*/
    padding: 0 12px;
    border: 1px solid #d9d9d9;
    background-color: #eeeeee;
    color: #aaaaaa;
    text-decoration: none;  /*reset*/
    outline: none !important;
}
.configure-column-link,
.remove-widget-link {
    top: 0; /*reset*/
}
.remove-gallery-item-link,
.remove-banner-slide-link,
.remove-widget-link {
    right: 0; /*reset*/
}
.remove-gallery-item-link {
    right: 10px;
}
.edit-gallery-item-link {
    right: 55px; /*45px+10px*/
}
.configure-gallery-item-link {
    right: 100px;
}
.configure-banner-slide-link,
.configure-column-link {
    right: 90px;
}
.edit-gallery-item-link:hover,
.remove-gallery-item-link:hover,
.edit-banner-slide-link:hover,
.remove-banner-slide-link:hover,
.configure-gallery-item-link:hover,
.configure-banner-slide-link:hover,
.configure-column-link:hover,
.remove-widget-link:hover {
    color: #222222;
}
.edit-gallery-item-link span,
.remove-gallery-item-link span,
.edit-banner-slide-link span,
.remove-banner-slide-link span,
.configure-gallery-item-link span,
.configure-banner-slide-link span,
.configure-column-link span,
.remove-widget-link span {
    display: none;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}
.edit-gallery-item-link:before,
.edit-banner-slide-link:before {
    content: "\f464";
    font: 400 20px/39px dashicons;
    speak: none; /*reset*/
}
.remove-gallery-item-link:before,
.remove-banner-slide-link:before,
.remove-widget-link:before {
    content: "\f182";
    font: 400 20px/39px dashicons;
    speak: none; /*reset*/
}
.configure-gallery-item-link:before,
.configure-banner-slide-link:before,
.configure-column-link:before {
    content: "\f111";
    font: 400 20px/39px dashicons;
    speak: none; /*reset*/
}
.column-buttons {
    z-index: 1;
}
/*---------------------------------------------------------
 Quick Start info (sections.css)
-------------------------------------------------------- */
.ttfmp-import-message-hide,
.maera_pb-default-active .ttfmp-import-message {
    display: none;
}
/*---------------------------------------------------------
 Maera Plus disabled (sections.css)
-------------------------------------------------------- */
.maera-plus-disabled .edit-text-column-link {
    top: 20px;
    right: 10px;
}
.maera-plus-disabled .configure-column-link {
    top: 20px;
    right: 55px;
}
