/*---------------------------------------------------------
 Builder (builder.css)
-------------------------------------------------------- */
.make_pb-titlediv {
    position: relative;
    margin-bottom: 20px;
}
.make_pb-titlediv .make_pb-title,
.make_pb-configuration-overlay-input-wrap .make_pb-configuration-title {
    width: 100%;
    height: 41px;
    margin: 0; /*reset*/
    padding: 0 8px;
    font-size: 19px;
    -webkit-box-shadow: none; /*reset*/
    box-shadow: none; /*reset*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-titlediv .make_pb-title:focus {
    border: 1px solid #ddd;
    -webkit-box-shadow: none; /*reset*/
    box-shadow: none; /*reset*/
}
#make_pb-builder .inside {
    padding: 0; /*reset*/
}
#make_pb-builder *:focus {
    outline: none !important; /*reset*/
    box-shadow: none !important; /*reset*/
}
.make_pb-stage {
    clear: both;
    padding-top: 10px;
}
.make_pb-stage-closed {
    padding-top: 0; /*reset*/
}
.make_pb-stage .sortable-placeholder {
    margin-bottom: 10px;
}
/*---------------------------------------------------------
 Common (builder.css)
-------------------------------------------------------- */
.clear {
    clear: both;
}
.make_pb-show {
    display: block;
}
.make_pb-hide {
    display: none; /*reset*/
}
/*---------------------------------------------------------
 Menu (builder.css)
-------------------------------------------------------- */
.make_pb-menu {
    margin-top: -6px;
}
.make_pb-menu-pane {
    margin-bottom: 40px;
    border-top: none; /*reset*/
    line-height: 0; /*reset*/
}
.make_pb-menu-list {
    display: inline-block;
    width: 100%;
    margin: 0; /*reset*/
}
.make_pb-menu-list h4 {
    margin: 0; /*reset*/
    font-size: 14px;
}
.make_pb-menu-list a {
    text-decoration: none; /*reset*/
    color: #777777 !important;
}
.make_pb-menu-list a:hover {
    color: #333333 !important;
}
.make_pb-menu-list a .make_pb-menu-list-item-link-icon {
    display: block;
    visibility: hidden;
    width: 84px;
    height: 74px;
    background: url(images/section-icons-hover.png) center center no-repeat;
    background-size: 36px 36px;
}
.make_pb-menu-list a:hover .make_pb-menu-list-item-link-icon {
    visibility: visible;
}
.make_pb-menu-list-item {
    float: left;
    width: 50%;
    height: 155px;
    margin-bottom: 0; /*reset*/
    text-align: center;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-menu-list-item:hover .make_pb-menu-list-item-link-icon-wrapper {
    border-color: #bbbbbb;
}
.make_pb-menu-list-item:last-of-type {
    margin-right: 0; /*reset*/
}
.make_pb-menu-list-item:hover {
    background-color: #fafafa;
}
@media screen and (min-width: 1160px) {
    .make_pb-menu-list-item {
        width: 25%;
    }
    .make_pb-menu-list-item-link:nth-child(even) .make_pb-menu-list-item {
        border-right: 1px solid #eeeeee;
    }
    .make_pb-menu-list-item-link:nth-child(4) .make_pb-menu-list-item,
    .make_pb-menu-list-item-link:nth-child(8) .make_pb-menu-list-item,
    .make_pb-menu-list-item-link:nth-child(12) .make_pb-menu-list-item {
        border-right: 0; /*reset*/
    }
}
.make_pb-menu-list-item a {
    color: #21759b;
}
.make_pb-menu-list-item a:hover {
    color: #d54e21;
}
.make_pb-menu-list-item-link {
    display: block;
}
.make_pb-menu-list-item-link-icon-wrapper {
    display: inline-block;
    width: 84px;
    height: 74px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px 60px;
    border: 1px solid #dfdfdf;
}
.section-type-description {
    margin-top: 18px;
}
/*---------------------------------------------------------
 Sortable handle (builder.css)
-------------------------------------------------------- */
.make_pb-sortable-handle {
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-bottom: 0; /*reset*/
    background-color: #eee;
    cursor: move;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sortable-background,
.ttfmp-widget-list li .sortable-background {
    display: block;
    height: 18px;
    background: url(images/sortable-background.png) center center repeat-x;
    opacity: .5;
}
.make_pb-gallery-item:hover .sortable-background,
.make_pb-banner-slide:hover .sortable-background {
    opacity: 1; /*reset*/
}
/*---------------------------------------------------------
 Forms (builder.css)
-------------------------------------------------------- */
.make_pb-section input[type=checkbox],
.make_pb-section input[type=radio],
.make_pb-section input[type=search],
.make_pb-section input[type=number],
.make_pb-section input[type=text],
.make_pb-section textarea {
    -webkit-box-shadow: none; /*reset*/
    box-shadow: none; /*reset*/
}
.make_pb-section input[type=text]:focus,
.make_pb-section input[type=number]:focus {
    border-color: #ddd;
}
.make_pb-configuration-overlay-input-wrap select {
    border: 1px solid #ddd;
}
/*---------------------------------------------------------
 Sections (builder.css)
-------------------------------------------------------- */
.make_pb-section {
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 0; /*reset*/
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-section-body {
    display: none;
    float: left;
    width: 100%;
    padding: 20px 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-section-open {
    margin-bottom: 40px;
}
.make_pb-section-open .make_pb-section-body {
    display: block; /*reset*/
}
.make_pb-section-header-title {
    max-width: 90%;
    display: inline-block;
}
.make_pb-section h4 {
    margin: 20px 0 10px;
    font-size: 13px;
}
.make_pb-section-header {
    cursor: move;
}
.make_pb-section-header h3 {
    float: left;
    width: 100%;
    color: #222;
    font-size: 13px !important;
    font-weight: 700 !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.7 !important;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    -ms-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
.make_pb-section-open .make_pb-section-header h3 {
    color: #fff;
    border-color: #222;
    background-color: #222;
}
.make_pb-section-header span {
    font-weight: bold;
}
.make_pb-section-header em {
    margin-left: 10px;
    color: #777;
    font-weight: normal !important;
    font-style: normal !important;
}
.make_pb-section-open .make_pb-section-header em {
    color: #bbb;
}
.make_pb-section .handlediv {
    position: relative;
    height: 40px;
    padding-left: 10px;
    border-left: 1px solid #d9d9d9;
}
@media screen and ( max-width: 782px ) {
    .make_pb-section .handlediv {
        height: 48px;
        margin-top: 0; /*reset*/
    }
}
.make_pb-section-open .handlediv {
    border-left-color: #999;
}
.make_pb-section-toggle:focus {
    border: none !important;
}
.make_pb-section-toggle .handlediv,
.make_pb-banner-slide-toggle .handlediv {
    top: -40px;
    right: 0; /*reset*/
    margin-bottom: -40px;
}
@media screen and ( max-width: 782px ) {
    .make_pb-section-toggle .handlediv,
    .make_pb-banner-slide-toggle .handlediv {
        top: -48px;
        margin-bottom: -48px;
    }
}
.make_pb-stage .make_pb-section .make_pb-section-header .handlediv:before,
.make_pb-stage .make_pb-section .make_pb-banner-slide-header .handlediv:before {
    content: '\f140';
    top: 1px;
}
@media screen and ( max-width: 782px ) {
    .make_pb-stage .make_pb-section .make_pb-section-header .handlediv:before,
    .make_pb-stage .make_pb-section .make_pb-banner-slide-header .handlediv:before {
        top: 5px;
    }
}
.make_pb-stage .make_pb-section .make_pb-section-header .handlediv:hover:before,
.make_pb-stage .make_pb-section .make_pb-banner-slide-header .handlediv:hover:before {
    color: #222;
}
.make_pb-stage .make_pb-section-open .make_pb-section-header .handlediv:hover:before,
.make_pb-stage .make_pb-section-open .make_pb-banner-slide-header .handlediv:hover:before {
    color: #fff;
}
.make_pb-stage .make_pb-section.make_pb-section-open .make_pb-section-header .handlediv:before,
.make_pb-stage .make_pb-section .make_pb-banner-slide-open .make_pb-banner-slide-header .handlediv:before {
    content: '\f142';
}
.make_pb-media-link-wrap {
    margin-bottom: 8px;
}
.make_pb-media-uploader-add {
    display: inline-block;
    cursor: pointer;
}
.make_pb-section-open .make_pb-builder-section-link,
.make_pb-section:hover .make_pb-builder-section-link {
    visibility: visible;
}
.make_pb-builder-section-link {
    visibility: hidden;
}
/*---------------------------------------------------------
 Sections header buttons (builder.css)
-------------------------------------------------------- */
.ttf-make-section-header-button-wrapper {
    position: absolute;
    right: 45px;
}
.make_pb-section-remove,
.make_pb-section-configure,
.ttfmp-duplicate-section {
    display: inline-block;
    height: 100%;
    padding: 0 10px 0 7px;
    color: #aaa;
    text-decoration: none;  /*reset*/
}
.make_pb-section-open .make_pb-section-remove,
.make_pb-section-open .make_pb-section-configure,
.make_pb-section-open .ttfmp-duplicate-section {
    color: #bbb;
}
/*---------------------------------------------------------
 Hide Configure Section button when closed (builder.css)
-------------------------------------------------------- */
.make_pb-section .make_pb-section-configure {
    display: none;
}
.make_pb-section-open .make_pb-section-configure {
    display: inline-block;
}
/*---------------------------------------------------------
 Hide button labels (builder.css)
-------------------------------------------------------- */
.make_pb-section-remove span,
.make_pb-section-configure span,
.ttfmp-duplicate-section span {
    display: none; /*reset*/
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
}
/*---------------------------------------------------------
 Section header buttons hover state (builder.css)
-------------------------------------------------------- */
.make_pb-section-remove:hover,
.make_pb-section-configure:hover,
.ttfmp-duplicate-section:hover {
    color: #222;
}
.make_pb-section-open .make_pb-section-remove:hover,
.make_pb-section-open .make_pb-section-configure:hover,
.make_pb-section-open .ttfmp-duplicate-section:hover {
    color: #fff;
}
/*---------------------------------------------------------
 Section header icons (builder.css)
-------------------------------------------------------- */
.make_pb-section-remove:before,
.make_pb-section-configure:before,
.ttfmp-duplicate-section:before {
    font: 400 20px/40px dashicons;
    speak: none; /*reset*/
}
.make_pb-section-remove:before {
    content: "\f182";
}
.make_pb-section-configure:before {
    content: "\f111";
}
.ttfmp-duplicate-section:before {
    content: "\f105";
}
@media screen and ( max-width: 782px ) {
    .make_pb-section-remove:before,
    .make_pb-section-configure:before,
    .ttfmp-duplicate-section:before {
        line-height: 48px;
    }
}
/*---------------------------------------------------------
 Media placeholder (builder.css)
-------------------------------------------------------- */
.make_pb-media-uploader-placeholder {
    position: relative;
    display: block;
    width: 100%;
    height: 220px;
    border: 1px solid #dfdfdf;
    background-color: #fafafa;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*---------------------------------------------------------
 Media placeholder icon (builder.css)
-------------------------------------------------------- */
.make_pb-media-uploader-placeholder:before {
    content: "\f128";
    display: block;
    color: #d9d9d9;
    font: 60px/220px dashicons;
    text-align: center;
}
/*---------------------------------------------------------
 Media placeholder hover state (builder.css)
-------------------------------------------------------- */
.make_pb-media-uploader-placeholder:hover:before {
    color: #c7c7c7;
}
.make_pb-media-uploader-placeholder img {
    position: absolute;
    max-width: 100%;
    max-height: 228px;
    width: auto;
    height: auto;
    top: 0; /*reset*/
    right: 0; /*reset*/
    bottom: 0; /*reset*/
    left: 0; /*reset*/
    margin: auto;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-section-body iframe {
    background: #fff !important;
}
/*---------------------------------------------------------
 Media placeholder if has image set (builder.css)
-------------------------------------------------------- */
.make_pb-has-image-set {
    background-color: #fff;
}
.make_pb-has-image-set .make_pb-media-uploader-placeholder:before {
    content: none;
}
.make_pb-has-image-set:hover .make_pb-media-uploader-placeholder {
    opacity: .8;
}
/*---------------------------------------------------------
 Overlay (builder.css)
-------------------------------------------------------- */
.make_pb-overlay {
    display: none;
    z-index: 99999;
    position: fixed;
    top: 0; /*reset*/
    left: 0; /*reset*/
    right: 0; /*reset*/
    bottom: 0; /*reset*/
    background: url(images/background.png) top left repeat;
    background: rgba(0, 0, 0, 0.7) ;
}
.make_pb-overlay-wrapper {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    min-height: 150px !important;
    padding-bottom: 20px !important;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
    /* Fix webkit bug. @link https://github.com/mgcrea/angular-strap/issues/1234#issuecomment-61913920 */
    -webkit-transform: translate3d(0,0,0);
}
.make_pb-overlay-window-head {
    padding: 0; /*reser*/
    min-height: 36px;
    background: #fcfcfc;
}
.make_pb-overlay-title {
    width: 300px;
    margin: 0;
    padding: 0 36px 0 10px;
    color: #444;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-rendering: optimizelegibility;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.make_pb-overlay-close {
    display: block;
    position: absolute;
    top: 0; /*reset*/
    right: 0; /*reset*/
    padding: 0 10px;
    font-size: 15px;
    font-size: 15px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    background-color: #1bc865;
    cursor: pointer;
}
.make_pb-configuration-overlay-input-wrap  .make_pb-uploader {
    width: 100%;
}
.make_pb-configuration-overlay .make_pb-overlay-wrapper {
    margin-left: -200px;
    width: 400px;
}
#make_pb-tinymce-overlay .make_pb-overlay-wrapper {
    width: 800px !important;
    height: 500px !important;
    margin-left: -400px !important;
    margin-top: -250px !important;
}
#make_pb-tinymce-overlay .make_pb-overlay-body {
    overflow-y: hidden;
}
.make_pb-overlay-wrapper * {
    -webkit-font-smoothing: subpixel-antialiased !important;
}
.make_pb-overlay-header {
    border-bottom: 1px solid #dfdfdf;
}
.make_pb-overlay-header h2 {
    float: left;
}
.make_pb-overlay-header .make_pb-overlay-close {
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.make_pb-configuration-overlay-input-wrap {
    padding: 20px 0 !important;
    border-bottom: 1px solid #efefef !important;
}
.make_pb-configuration-overlay-input-wrap {
    zoom: 1;
}
.make_pb-configuration-overlay-input-wrap:before,
.make_pb-configuration-overlay-input-wrap:after {
    display: table;
    content: "";
}
.make_pb-configuration-overlay-input-wrap:after {
    clear: both;
}
.make_pb-configuration-overlay-input-wrap label {
    position: relative;
    top: 2px;
    float: left;
}
.make_pb-configuration-overlay-input-wrap select,
.make_pb-configuration-overlay-input-wrap input {
    float: right;
}
.make_pb-configuration-overlay-input-wrap .wp-picker-container,
.make_pb-configuration-overlay-input-wrap  .make_pb-uploader {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
}
.make_pb-configuration-overlay-input-wrap input[type=checkbox] {
    position: relative;
    top: 5px;
}
.make_pb-configuration-description {
    float: left;
    margin-top: 20px;
    color: #666;
    font-style: italic;
}
.make_pb-configuration-overlay-input-wrap select,
.make_pb-configuration-overlay-input-wrap input {
    margin-left: auto;
}
.make_pb-overlay-body {
    padding: 20px !important;
    clear: both;
    overflow-y: scroll;
    max-height: 500px;
}
.make_pb-overlay-body .make_pb-configuration-overlay-input-wrap:last-of-type {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}
.make_pb-configuration-title {
    width: 100%;
    height: 41px;
    padding: 0 8px;
    font-size: 19px;
}
.make_pb-configuration-overlay-input-wrap.make_pb-configuration-title-wrap {
    padding-top: 0 !important; /*reset*/
    border-bottom: 0 !important; /*reset*/
}
.make_pb-configuration-overlay-input-wrap.make_pb-configuration-media-wrap {
    display: block; /*reset*/
    clear: both;
    width: 100%;
}
/*---------------------------------------------------------
 Color picker (builder.css)
-------------------------------------------------------- */
.wp-color-result.wp-picker-open:after {
    display: none;
}
.make_pb-configuration-overlay-input-wrap .wp-picker-container .button {
    margin-left: 0; /*reset*/
    margin-right: 4px; /*reset*/
}
.make_pb-configuration-overlay-input-wrap .wp-picker-container .wp-picker-holder {
    margin-left: -8px;
}
.make_pb-configuration-overlay-input-wrap .wp-picker-container .iris-picker {
    border: 0; /*reset*/
}
/*---------------------------------------------------------
 iFrame (builder.css)
-------------------------------------------------------- */
.make_pb-iframe-wrapper {
    position: relative;
    border: 1px solid #ddd;
}
.make_pb-iframe-wrapper iframe {
    overflow: hidden;
    padding: 12px !important; /*12px+8px from body*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.make_pb-iframe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* same as iframe */
    height: 300px; /* same as iframe */
}
.make_pb-iframe-overlay .edit-content-link {
    display: block;
    width: 100%;
    height: 100%;
}
/*---------------------------------------------------------
 Media Modal (builder.css)
-------------------------------------------------------- */
.make_pb-remove-current-image {
    display: none;
}
.make_pb-builder-uploader .make_pb-remove-current-image {
    display: block;
    float: left;
}
.make_pb-builder-uploader .make_pb-remove-current-image a.make_pb-remove-image-from-modal {
    color: #bc0b0b;
    text-decoration: none; /*reset*/
}
.make_pb-builder-uploader .make_pb-remove-current-image a.make_pb-remove-image-from-modal:hover {
    color: red;
}
